/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
p{
    color: #777;
}

/* Header starts here  */
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient( rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(image/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}
.nav-links ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background: #f44336;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 63px;
    
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 19px;
    color: #ffffff;
}
.horo-btn{
    text-decoration: none;
    padding: 12px 34px;
    display: inline-block;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
.horo-btn:hover{
     border: 1px solid #f44336;
     background-color: #f44336;
     transition: 1s;
}

nav .fas{
    display: none;
}



/* Header ends here  */

/* -------course for starts here -------  */ 
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course h1{
    font-size: 36px;
    font-weight: 600;
}
.course p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col h3{
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px #888888;

}

/* -------course for Ends here -------  */ 

/* ---------------campus for starts here--------- */
.campus{
    width: 100%;
    padding-top: 7%;
    background: #66666624;
}
.contan{
    width: 88%;
    text-align: center;
    margin: auto;
    
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226, 0, 0, 0.7);

}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #ffffff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
/* ---------------campus for Ends here--------- */

/* ------------------ facilties start  for here-----------  */
 
.facilties{
    width: 88%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.facilties-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom:5% ;
    text-align: left;
}

.facilties-col img{
    width: 100%;
    border-radius: 10px;
}

.facilties-col p{
    padding: 0;
}
.facilties-col h1{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* ------------------ facilties Ends  for here-----------  */

/* ----------------testimonials starts for here------  */
.testimonials{
    width: 88%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-color: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
    transition: 0.5s;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col:hover{
    box-shadow: 0 0 20px 0px #888888;
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 5px;
    margin-bottom: 5px;
}
.testimonial-col i {
    margin: 0 0 20px;
    color: #f44336;
}


/* ----------------testimonials Ends for here------  */

/* --------------call To Action starts for here--------   */
.cta{
    width: 88%;
    margin: 100px auto;
    background-image: linear-gradient( rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(image/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff3f3;
    padding: 0;
    margin-bottom: 40px;
    font-size: 50px;
}


/* --------------call To Action Ends for here--------   */

/* ============== footer start for here =======  */
.footer{
    width: 88%;
    margin: auto;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons i{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 20px;
}
.icons i:hover{
    color: #423a3a;
}
.footer span{
    color: #f44336;
    font-size: 25px;
}

/* ============== footer Ends for here =======  */